body {text-align: center; font-family: Arial, sans-serif; background-color: #ffffff; color: #333;}
h1 {color: #125064; padding-top: 10px;}
div {margin: 20px 0; padding: 10px; border: 2px solid rgb(181, 222, 228) ; border-radius: 5px; background-color: #e9f5fb;}
nav a {color: #000000; text-decoration: none; padding: 10px; width: 100%; font-weight: bold; margin-bottom: 8px;}
nav a:hover {color: #125064; text-decoration: underline;}
button {background-color: #125064; color: white; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer;}
div img {padding-top: none; boreder-top: 2px solid rgb(181, 222, 228); border-radius: 5px }
button:hover {background-color: #0d3a4c;}
h3 {color: #37b7e2; margin-top: 20px;}
nav, div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }
/* Responsive styles for mobile */
@media (max-width: 600px) {
  nav, div {
    flex-direction: column;
    align-items: flex-start;}
